:root {
    --main-font-family: 'Montserrat', sans-serif;
    --secondary-font-family: 'Roboto', sans-serif;
    --title-decoration-font-family: 'Kaushan Script', cursive;
    --main-color: #f38181;
    --secondary-color: #fce38a;
    --banner-text-color: #FFFFFF;
}